@use "./define.scss" as *;
@use "./president.scss" as *;

#header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    #header-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .logo-img {
            width: 80px;
            margin-top: 0.5rem;
        }

        .header-text {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: left;
            h1 {
                margin: 0;
                font-size: 1.8rem;
                font-weight: bold;
                letter-spacing: 0.4rem;
                /* 1. Tạo dải màu nền ánh kim (ngang) */
                background-image: linear-gradient(
                    to right,
                    #b8860b 0%, /* Màu Dark Goldenrod đậm ở 2 đầu */
                    #ffd700 25%, /* Màu Gold ấm làm nền chính */ 
                    #f5e873 50%, /* Màu Lemon Chiffon rất sáng ở giữa tạo highlight */
                    #ffd700 75%, /* Quay lại Gold */ 
                    #b8860b 100% /* Kết thúc bằng Dark Goldenrod */
                );

                /* 2. Cắt nền theo hình chữ */
                -webkit-background-clip: text;
                background-clip: text;

                /* 3. Làm chữ trong suốt */
                color: transparent;
            }
            h2 {
                font-size: 1rem;
                font-weight: bold;
                margin: 0;
                background-image: linear-gradient(
                    to right,
                    #b8860b 0%,
                    /* Màu Dark Goldenrod đậm ở 2 đầu */ #ffd700 25%,
                    /* Màu Gold ấm làm nền chính */ #f5e873 50%,
                    /* Màu Lemon Chiffon rất sáng ở giữa tạo highlight */ #ffd700 75%,
                    /* Quay lại Gold */ #b8860b 100% /* Kết thúc bằng Dark Goldenrod */
                );

                /* 2. Cắt nền theo hình chữ */
                -webkit-background-clip: text;
                background-clip: text;

                /* 3. Làm chữ trong suốt */
                color: transparent;
            }
        }
    }
}
