@use "./define.scss" as *;
@use "./president.scss" as *;
@use "./responsive.scss" as *;

#header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    #header-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .logo-img {
            width: 80px;
            margin-top: 0.5rem;
        }

        .header-text {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: left;
            h1 {
                margin: 0;
                font-size: 1.8rem;
                font-weight: bold;
                letter-spacing: 0.4rem;
                /* 1. Tạo dải màu nền nổi bật, hợp với nền sáng */
                background-image: linear-gradient(
                    to right,
                    #023a7a 0%,   /* Xanh đậm thương hiệu */
                    #1e40af 25%,  /* Xanh hoàng gia */
                    #2563eb 50%,  /* Xanh dương sáng */
                    #1e40af 75%,
                    #023a7a 100%
                );

                /* 2. Cắt nền theo hình chữ */
                -webkit-background-clip: text;
                background-clip: text;

                /* 3. Làm chữ trong suốt */
                color: transparent;

                @include Respond(md) {
                    font-size: 1.5rem;
                    letter-spacing: 0.3rem;
                }

                @include Respond(sm) {
                    font-size: 1.25rem;
                    letter-spacing: 0.2rem;
                    padding: 0.1rem;
                }

                @include Respond(xs) {
                    font-size: 1.05rem;
                    letter-spacing: 0.15rem;
                }
            }
            h2 {
                font-size: 1rem;
                font-weight: bold;
                margin: 0;
                
                @include Respond(md) {
                    font-size: 0.85rem;
                }

                @include Respond(sm) {
                    font-size: 0.75rem;
                    padding: 0.1rem;
                }

                @include Respond(xs) {
                    font-size: 0.65rem;
                }
                background-image: linear-gradient(
                    to right,
                    #023a7a 0%,   /* Xanh đậm thương hiệu */
                    #1e40af 25%,  /* Xanh hoàng gia */
                    #2563eb 50%,  /* Xanh dương sáng */
                    #1e40af 75%,
                    #023a7a 100%
                );

                /* 2. Cắt nền theo hình chữ */
                -webkit-background-clip: text;
                background-clip: text;

                /* 3. Làm chữ trong suốt */
                color: transparent;
            }
        }
    }
}
