.my_month {
    height: 50px;
    background-color: #286090;
    color: white;
    margin-top: 20px;
    padding: 5px;
    font-weight: bold;
    line-height: 2.5;
    border-radius: 3px 3px 0 0;
    label {
        padding-left: 5px;
        font-size: 18px;
    }
}

.my_row {
    color: #8c8888;
    font-size: 15px;
    // letter-spacing: 2px;
    border: 1px #d8d8d8 solid;
    border-radius: 3px;
    padding: 5px 2px;
    margin-bottom: 2px;
    margin-left: -1px !important;
    width: 100%;
    cursor: pointer;
    background-image: url("./images/down-arrows-16x16.png");
    background-repeat: no-repeat;
    background-position: 99% 10px;
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    &:hover {
        color: #333;
        background-image: url("./images/down-arrows-16x16-2.png");
        background-repeat: no-repeat;
        background-position: 99% 10px;
        background-color: #d8d8d8;
    }
    .schedule_title {
        padding: 1rem 1.5rem;
        font-size: 18px;
        font-weight: bold;
        color: $mainColor;
    }
    .my_text {
        label {
            letter-spacing: 0px;
            margin-left: 3px;
            color: #333;
        }
    }
    label {
        font-weight: bold;
    }
}

.selected {
    position: relative;
    background-image: url() !important;
    background-color: #e3e4e5;
    color: #000;
    cursor: auto !important;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(124, 124, 124, 0.2); // 設置透明背景（50%透明度的黑色）
        pointer-events: none; // 偽元素不攔截點擊事件
    }
}

.my_hide {
    display: none;
    padding-left: 15px;
    /*overflow:  hidden;*/
}