.my_container {
    #loggo {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: bold;
        background-color: rgb(0, 35, 58);
        color: white;
        padding: 1rem 0;
        div:nth-child(1) {
            .logo-img {
                width: 10rem;
                margin-left: 1rem;
            }
        }
        div:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .title-cn {
                font-size: 3rem;
                letter-spacing: 0.18rem;
                font-family: DFKai-SB, Arial, serif;
            }
            .title-en {
                font-size: 2rem;
            }
            .title-meeting {
                font-size: 2.5rem;
                font-family: DFKai-SB, Arial, serif;
                letter-spacing: 0.1rem;
                margin: 0.5rem 0;
            }
        }
    }
    #check-in-content {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        .check-in-form {
            flex: 1;
            border-right: 0.01rem #ccc dotted;
            min-height: 500px;
            padding-top: 2rem;
            .btn-submit-barcode {
                background-color: rgb(139, 139, 139);
                color: white;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 0.65rem 1.5rem;
                border-radius: 0.5rem;
                border: 0px;
                &:hover {
                    background-color: rgba(139, 139, 139, 0.562);
                }
            }
        }
        .check-in-value {
            flex: 3;
            padding-left: 2rem;
            &-header {
                display: flex;
                flex-direction: row;
                height: 10rem;
                padding-top: 1.5rem;
                div {
                    flex: 1;
                    font-weight: bold;
                    #last-check-in {
                        color: #999;
                        font-size: 1rem;
                    }
                    .text-welcome {
                        font-size: 3rem;
                        color: red;
                    }
                    .text-digiwin {
                        font-size: 2rem;
                        color: red;
                    }
                }
            }
        }
        #barcode-error,
        #accout-unactive {
            font-size: 4rem;
            font-weight: bold;
            color: rgb(150, 6, 6);
            padding-top: 5%;
            padding-left: 10%;
            display: none;
        }
        #guest-main {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;
            ;
            div {
                flex: 1;
                label {
                    font-size: 1.7rem;
                    font-weight: bold;
                    color: #13295a;
                }
                #guest-pic {
                    width: 80%;
                    margin-left: 10px;
                    border-radius: 0.5rem;
                    border: 1px #999 solid;
                }
                #guest_name {
                    padding-left: 5rem;
                    font-size: 4rem;
                }
            }
        }
        .digiwin {
            text-align: center;
            margin-top: 50px;
            .text-digiwin {
                margin-top: 10px;
                font-size: 2rem;
                color: red;
                font-weight: bold;
            }
        }
    }
}