@import "./define.scss";
#news-home {
    min-height: 200px;
    .news-home-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            cursor: pointer;
            padding: 1rem 0.3rem;
            color: rgb(136, 136, 136);
            //  border-bottom: 2px solid #000;
            border-radius: 5px 5px 0 0;
            &:hover h3 {
                transition: all 1s;
                color: rgb(2, 58, 110);
            }
            @include Respond(md) {
                padding: 0.5rem 0.1rem;
            }
            h3 {
                font-weight: bold;
                font-size: 1.8rem;
                @include Respond(lg) {
                    font-size: 1rem;
                }
                @include Respond(md) {
                    font-size: 0.9rem;
                }
                @include Respond(sm) {
                    font-size: 1.1rem;
                }
            }
            @include Respond(md) {
                width: 25%;
            }
            @include Respond(sm) {
                width: 25%;
            }
        }
        .title-select {
            color: rgb(2, 58, 110);
            background-color: rgb(238, 238, 238);
            border-top: 1px solid #235a74;
            border-left: 1px solid #235a74;
            border-right: 1px solid #235a74;
            @include Respond(md) {
                padding: 0.5rem 0rem;
            }
            h3 {
                font-weight: bold;
            }
        }
    }
    .news-home-content {
        &>div {
            display: none;
            border-top: 1px solid #235a74;
            margin-top: -1px;
            // @include Respond(md) {
            //     margin-top: -2px;
            // }
        }
        .content-select {
            // padding: 1rem 2rem 3rem 1rem;
            background-color: rgb(238, 238, 238);
            display: block;
            .content-list {
                display: block;
                font-size: 5rem;
                &>div {
                    padding: 0.5rem;
                    border-bottom: 1px dotted #ccc;
                    font-weight: bold;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: #999;
                    @include Respond(lg) {
                        font-size: 1rem;
                        padding: 0.5rem 0.3rem;
                    }
                    @include Respond(md) {
                        font-size: 0.9rem;
                        padding: 0.2rem 0.2rem;
                    }
                    &:hover {
                        background-color: rgb(241, 241, 241);
                    }
                    div:nth-child(1) {
                        font-size: 1.6rem;
                        @include Respond(sm) {
                            font-size: 1.2rem;
                            padding: 1rem 0.1rem;
                        }
                    }
                    div:nth-child(2) {
                        font-size: 1.5rem;
                        padding-right: 1rem;
                        @include Respond(md) {
                            display: none;
                        }
                    }
                }
            }
            .content-more {
                position: absolute;
                right: 3rem;
                font-size: 1.2rem;
                font-weight: bold;
                @include Respond(lg) {
                    font-size: 1rem;
                }
                @include Respond(md) {
                    font-size: 0.9rem;
                }
                @include Respond(sm) {
                    font-size: 0.7rem;
                }
            }
        }
    }
    .news-link {
        padding: 5px;
        color: $linkColor;
        text-decoration: none;
        &:hover {
            color: $mainColor;
        }
    }
}