#footer {
    background-color: rgba(222, 66, 5, 0.8);
    .footer-content {
        color: white;
        margin: 0 1rem;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include Respond(lg) {
            flex-direction: row;
        }
        @include Respond(md) {
            flex-direction: column;
        }
        @include Respond(sm) {
            flex-direction: column;
        }
        .content-contact {
            div {
                font-size: 15px;
                margin: 1rem;
            }
        }
        .content-count {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .online-count {
                font-size: 15px;
            }
            .copy-right {
                font-size: 15px;
                color: #969696;
            }
        }
    }
}

#mobi-footer {
    background-color: rgba(222, 66, 5, 0.8);
    display: none;
    width: 100% !important;
    color: white;
    .footer-content {
        margin: 0 auto;
        width: 100%;
        /* height: 100%; */
    }
    .footer-content td {
        height: 50px;
    }
    .footer-content a {
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    .footer-content a:hover {
        color: #969696;
        text-decoration: none;
    }
    .copy-right {
        text-align: right;
        /*color: #969696;*/
        font-size: 0.8em;
    }
    .total-page {
        float: right;
        font-weight: bold;
        margin-top: 10px;
        color: #999999;
    }
}