/*MENU CHO RESPORST*/

.mobile-menu-title {
    height: 30px;
    cursor: pointer;
    background-color: #f67a06;
    display: none;
}

.mobile-menu {
    margin-bottom: 20px !important;
    display: none;
    position: absolute;
    z-index: 1000;
    ul li {
        height: 30px;
        background-color: #f1670c;
        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            padding: 6px 25px;
            text-align: center;
            &:hover {
                hover {
                    color: #e66b00;
                }
            }
        }
    }
    &:hover {
        background-color: #f67a06 !important;
    }
}