@import "./define.scss";
body {
    background-color: #fff !important;
}

.my-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my_link {
    color: $linkColor;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 15px;
    &:hover {
        color: $mainColor;
    }
    span {
        color: #59595a;
        font-size: 13px;
    }
}

#header {
    padding-top: 0rem;
    padding-left: 2rem;
    display: flex;
    justify-content: left;
    background-color: #fcfcfc;
    height: 80px;
    #logo {
        display: flex;
        align-items: center;
        .logo-img {
            width: 75px;
            margin-top: rem;
        }
        div {
            padding-top: 1rem;
            font-size: 1.5rem;
            color: #2e3094;
            font-weight: bold;
            text-shadow: 0.6rem 0.6rem 0.37rem #999;
            @include Respond(lg) {
                font-size: 1.5rem;
            }
            @include Respond(md) {
                font-size: 1.5rem;
            }
            @include Respond(sm) {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
    #login {
        display: flex;
        justify-content: center;
    }
}

#menu {
    z-index: 10000;
}

.blue-group {
    /*border:  #DBDBDB 1px solid;*/
    border-radius: 5px;
    margin-bottom: 20px;
    word-break: break-all;
    box-shadow: 0.2rem 0.5rem 0.5rem #999;
    word-wrap: break-word;
    .blue-title {
        background-color: #FF8003;
        min-height: 50px;
        padding-top: 0.6rem;
        /*color: #1c7aa6;*/
        /*color:  #063764*/
        /*        border-left: 8px solid #063764;
                border-top: 2px solid #063764;*/
        background-image: url("./scss/img/title-bg.jpg");
        background-repeat: no-repeat;
        /*background-attachment: fixed;*/
        background-position: right;
        border-bottom: 3px solid #f35d38;
        /*margin-top:-11px;*/
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        letter-spacing: 1.5px;
    }
    h3.blue-title-text {
        font-weight: bold;
        color: #ffffff;
        margin-left: 1em;
        margin-right: 0.5em;
        margin-top: 0.5em;
        float: left;
        font-size: 18px;
    }
    .blue-content {
        font-size: 1.5rem;
        padding: 15px 10px;
    }
}

.national-list {
    clear: both;
    border-bottom: 1px solid #e7e2e2;
    display: block;
    min-height: 100px;
    &:hover {
        background-color: #e9e9e9;
    }
    div {
        float: left;
        h3 {
            font-size: 16px;
            letter-spacing: 2px;
            font-weight: bold;
            padding-top: 25px;
            color: $linkColor;
            &:hover {
                color: $mainColor;
            }
        }
        label {
            font-weight: 100;
            font-size: 15px;
            letter-spacing: 1px;
        }
        .my-img {
            width: 80px;
            margin: 10px;
            border-radius: 3px;
            border: 1px #fff solid;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: transparent;
        }
    }
}

.country {
    border-bottom: 1px solid #e7e2e2;
    display: block;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    background-color: #286090;
    color: white;
    padding-left: 15px;
    border-radius: 3px 3px 0 0;
    letter-spacing: 3px;
    cursor: pointer;
}

.country i {
    float: right;
    padding-top: 12px;
    padding-right: 10px;
}

.branch {
    display: none;
}

.branch-item {
    border-bottom: 1px dotted #ccc;
    min-height: 30px;
    font-size: 18px;
    padding: 5px;
    padding-left: 15px;
    margin-top: 3px;
    a {
        color: #59595a;
        font-weight: bold;
        text-decoration: none;
        color: $linkColor;
        &:hover {
            color: $mainColor;
        }
    }
}

.branch-item:hover {
    background-color: #f6f4f4;
}

.single-space {
    article {
        margin: 2rem;
    }
}

.download-list {
    width: 100%;
    div {
        padding: 1rem;
        &:nth-child(even) {
            background-color: #fff;
        }
        a {
            font-size: 1.8rem;
            font-weight: bold;
            text-decoration: none;
            color: $linkColor;
            &:hover {
                color: $mainColor;
            }
            i {
                margin-right: 2rem;
            }
        }
    }
}

.article_item {
    border-bottom: 1px #ccc solid;
    padding: 10px 0;
    &>a {
        font-size: 18px;
        color: $linkColor;
        &:hover {
            color: $mainColor;
        }
    }
    .more-link {
        font-size: 12px;
        color: #999;
        font-style: italic;
        &:hover {
            color: $mainColor;
        }
    }
}

div.more-link {
    font-size: 18px;
    background-color: #ccc;
    width: 50px;
    float: right;
    text-align: center;
    border-radius: 3px;
    &:hover {
        background-color: #e9eced;
        color: #fff;
    }
    a {
        margin-top: 5px;
        margin-left: 6px;
        font-size: 13px;
        color: #666;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 1.5px;
        display: block;
    }
}